---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonList } from "@interfaces/Pokemon";

export const getStaticPaths = (async () => {
    const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=150');
    const { results } = await response.json() as PokemonList;
    return results.map(({ name, url }) => ({ params: { name }, props: { url }}));
}) satisfies GetStaticPaths;

const base = '/Astro-PokemonListApp-SSG';
const { name } = Astro.params;
const { url } = Astro.props;

const pokemonId = url.split("/").at(-2);
const audioPokemon = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${pokemonId}.ogg`;
const imagePokemon = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${pokemonId}.png`
---

<MainLayout 
    title={`Pokemon - #${pokemonId} ${name}`} 
    description={`Información sobre el Pokemon ${name}`}
    image={imagePokemon}>

    <section class="mt-10 mx-10 flex flex-col justify-center items-center" >
        <div>
            <a href={`${base}/`}>Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>

        <PokemonCard name={name} url={url} isBig ></PokemonCard>
        <audio controls class="mt-5">
            <source src={audioPokemon} type="audio/ogg" >
        </audio>
    </section>

</MainLayout>

<style>
    @reference "@styles/global.css";
    
    a {
        @apply hover:underline text-blue-500;
    }
</style>
